APP_ENV=production
APP_DEBUG=false
DB_DRIVER=mysql
DB_CHARSET=utf8mb4
DB_HOST=db
DB_PORT=3306
DB_NAME=reportapp25
DB_USER=reportapp_user
DB_PASS=changeme
JWT_SECRET=super_secret_change_me # change me!
JWT_ISSUER=reportapp25
JWT_TTL=3600
